h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-size:x-large;
}

h3{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

.pagPrincipal{
    width: 900px;
    font-weight:bolder;
	margin: 0 auto;
    background-color:green;
	color: black;
	margin-bottom: 100px;
}}