h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-size:x-large;
}

h3{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

h5{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:medium;
}

.pagPrincipal{
    width: 900px;
    font-weight:bolder;
	margin: 0 auto;
    background-color:green;
	color: black;
	margin-bottom: 100px;
    text-align:center;
}

#ingresar{
    font-size:large;
}

.noInicioSesion{
    width: 900px;
    font-weight:bolder;
	margin: 0 auto;
    background-color:indianred;
	color: black;
	margin-bottom: 100px;
    text-align:center;
}

.usuarios{
    text-align:center;
}

.txtDerecha{
    text-align: right;
}

.txtIzquierda{
    text-align: left;
}

.botones{
    font:status-bar;
    font-weight:bold;
}

.etiquetas{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}