<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=tp2_net;Integrated Security=false; User=net; Password=net;"/>
    <!--<add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Server=MS-11\UTNFRRO;Database=tp2_net; User=net; Password=net;"/>-->
    <add name="ConnStringExpress" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=tp2_net; Integrated Security=false; User=net; Password=net;"/>
    <add name="ConnStringServerISI" providerName="System.Data.SqlClient" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"/>
  </connectionStrings>
</configuration>